{% extends "base.html" %}
{% block title %}
    Ваша корзина товаров
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Ваша корзина товаров</h1><br>
        <table class="table table-bordered table-striped table-cart">
            <thead>
            <tr>
                <th>Иозображение</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Удалить</th>
                <th>Цена</th>
                <th>Полная цена</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr class="centered">
                        <td><a href="{{ product.get_absolute_url }}"><img style="max-height: 120px"
                                                                          src="{{ product.image.url }}" alt=""/></a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                                {% csrf_token %}
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <input type="submit" value="Обновить">
                            </form>
                        </td>
                        <td><a href="{% url "cart:CartRemove" product.id %}" class="btn btn-danger">Удалить</a></td>
                        <td>{{ item.price }} руб.</td>
                        <td>{{ item.total_price }} руб.</td>
                    </tr>

                {% endwith %}
            {% endfor %}


            {% if cart.cupon %}
                <tr class="danger">
                    <td class="text-right" colspan="5">Сумма без скидки</td>
                    <td>{{ cart.get_total_price }}</td>
                </tr>
                <tr class="warning">
                    <td class="text-right" colspan="5">"{{ cart.cupon.cupon_code }}" купон на {{ cart.cupon.discount }} % ниже</td>
                    <td class="num discount">- {{ cart.get_discount|floatformat:"2" }} руб.</td>
                </tr>
            {% endif %}

            <tr class="success">
                <td colspan="5" class="text-right">Итого:</td>
                <td class="num">{{ cart.get_total_price_after_discount|floatformat:"2" }} руб.</td>
            </tr>
            </tbody>
        </table>
        <form action="{% url "cupon:apply" %}" method="post" class="add">
            {% csrf_token %}
            {{ cupon_apply_form }}
            <input type="submit" class="btn btn-info" value="Активировать купон">
        </form>
        <p class="text-right">
            <a href="{% url "shop:product_list" %}" class="btn btn-success">Продолжить Шопинг</a>
            <a href="{% url "orders:OrderCreate" %}" class="btn btn-success">Оформить заказ</a>
        </p>
    </div>

{% endblock %}
