{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <h3>КАТЕГОРИИ</h3>
                <li class="left-sidebar-item {% if request.get_full_path == '/' %}active{% endif %}"><a href="{% url "shop:product_list" %}">Все</a>
                </li>
                {% for cat in categories %}
                    <li class="left-sidebar-item {% if request.get_full_path == cat.get_absolute_url %}active{% endif %}"><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <br>
            <div class="thumbnail">
                <img class="etalage_thumb_image" src="
                    {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg" %}{% endif %}">
            </div>
        </div>
        <div class="col-lg-5">
            <div class="desc1">
                <h2>{{ product.name }}</h2>
                <h3><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
                <p>{{ product.description | linebreaks }}</p>
                <h5>{{ product.price }} руб.</h5>
                <div class="available">
                    <div class="btn_form">
                        <form action="{% url "cart:CartAdd" product.id %}" method="post">
                            {{ cart_add_product_form }}
                            {% csrf_token %}
                            <input type="submit" value="Добавить в корзину">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}