{% extends 'base.html' %}
{% load staticfiles %}
{% url "shop:product_list" as product_list %}

{% block content %}

    <div class="container">

        {#Left sidebar#}

        <div class="col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <h3>КАТЕГОРИИ</h3>
                <li class="left-sidebar-item {% if request.get_full_path == '/' %}active{% endif %}"><a href="{% url "shop:product_list" %}">Все</a>
                </li>
                {% for cat in categories %}
                    <li class="left-sidebar-item {% if request.get_full_path == cat.get_absolute_url %}active{% endif %}"><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="latest-products">
                <h2 class="style top">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h2>

                {% for product in products %}
                    {% if forloop.first %}
                        <div class="row">
                    {% endif %}
                <div class="col-lg-4 centered">
                    <div class="thumbnail">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="thumbnail" src="

                                    {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg" %}{% endif %}"
                                 alt=""/>
                            <h3>{{ product.name }}</h3>
                            <div>
                                <h4>{{ product.price }} руб.</h4>
                            </div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}