@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #69695f;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
    padding-bottom: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37
}

a:hover, a:focus {
    color: #ff7a55;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    background: #563d7c;
    border-color: #563d7c;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #ff7878;
}

.navbar-inverse .navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}
.navbar-cart {
    padding-top: 15px;
    padding-bottom: 10px;
}

#headerwrap {
    background: url("../images/uc750mk_large.jpg") no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    margin-top: 100px;
    color: white;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

#headerwrap h2 {
    color: black;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.w h4 {
    padding-top: 25px;
}

#dg {
    background: #e0e0e0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#dg h4 {
    font-size: 40px;
}

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.wb {
    padding-top: 35px;
}

.wb h4 {
    font-size: 35px;
}

#lg {
    background: #ebebeb;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#lg h4 {
    font-size: 45px;
}

#r {
    background: #ff7878;
    padding-top: 70px;
    padding-bottom: 70px;
}

#r h4 {
    color: white;
    font-size: 45px;
}

#r p {
    color: white;
}

#f {
    background: #2d2d2d;
    padding-top:30px;
    padding-bottom: 20px;    
}

#f i {
    color: #bdbdbd;
    font-size:30px;
    padding: 20px;
}

#f i:hover {
    color: #ff7878;
}

.left-sidebar-item {
    background: #563d7c;
    /*border: 1px solid #bdbdbd;*/
    border-radius: 5px;
}
.nav > .left-sidebar-item > a:hover {
    background-color: #422968;
}

.nav > .left-sidebar-item > a:focus {
    background-color: #422968;
}
.navbar-inner{
    background-color: #563d7c;
    opacity: .8;
}

.copyright > h4{
    opacity: 2.9;
    color: #ffa0a0;
}