{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}
    Оформление заказа
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="centered">Оформление заказа</h1>
        <div class="col-md-4">
            <h2>Заполните форму</h2>
            <form class="order-form" action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" value="Отправить">
            </form>
        </div>
        <div class="col-md-8">
            <h2>Ваш заказ</h2>
            <table class="table table-bordered table-striped table-cart">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Полная цена</th>
                </tr>
                </thead>

                <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }} руб.</td>
                            <td>{{ item.total_price }} руб.</td>
                        </tr>
                    {% endwith %}
                {% endfor %}

                {% if cart.cupon %}
                    <tr class="danger">
                        <td colspan="2"></td>
                        <td>Сумма без скидки</td>
                        <td>{{ cart.get_total_price }} руб.</td>
                    </tr>
                    <tr class="warning">
                        <td colspan="2"></td>
                        <td>
                            "{{ cart.cupon.cupon_code }}" купон на {{ cart.cupon.discount }} % ниже
                        </td>
                        <td>- {{ cart.get_discount|floatformat:"2" }} руб.</td>
                    </tr>
                {% endif %}
                    <tr class="success">
                        <td colspan="2"></td>
                        <td>Итого</td>
                        <td class="success">{{ cart.get_total_price_after_discount|floatformat:"2" }} руб.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}