{% extends "base.html" %}

{% block title %}
    Спасибо за заказ
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Спасибо за заказ</h1>
        <h3>Идентификатор вашего заказа: {{ order.id }}</h3>
    </div>
{% endblock %}