{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
<title>
    {% block title %}{% endblock %}
</title>
<body>
{% include 'header.html' %}
<div class="wrap">
    {% block content %}{% endblock %}
</div>
{% include 'footer.html' %}
</body>
</html>