<div class="navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <div class="copyright text-center">
                <h4>Designed and developed by Marat Nizamutdinov 2017. Все товары и цены выдуманы и не являются реальными.
                </h4>
            </div>
        </div>
    </div>
</div>