{% load staticfiles %}
{% load i18n %}

<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <a class="navbar-brand" href="{% url 'shop:product_list' %}">Главная</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-cart">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            <span>В корзине:</span>
                            <span><a href="{% url "cart:CartDetail" %}">
                                {{ total_items }} тов. {{ cart.get_total_price }} руб.
                            </a></span>
                        {% else %}
                            <span>Корзина пустая</span>
                        {% endif %}
                    {% endwith %}
                </li>
            </ul>
        </div>
    </div>
</div>