{% extends "base.html" %}

{% block title %}Оплата отклонена{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-danger centered">Оплата отклонена</h1>
        <p>Возникли проблемы с оплатой!</p>
    </div>
{% endblock %}