{% extends "base.html" %}

{% block title %}Успешная оплата{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-success centered">Успешная оплата</h1>
        <p>Благодарим вас за покупку!</p>
    </div>
{% endblock %}